@rendermode InteractiveServer
@page "/AccountSetup"
@attribute [Authorize]

@using LessonFlow.Components.AccountSetup
@using LessonFlow.Components.AccountSetup.State
@using LessonFlow.Components.Shared
@using Microsoft.AspNetCore.Authorization

<PageTitle>Account Setup</PageTitle>

@if (User is null || _initialLoading)
{
    <LoadingSpinner Message="Loading your account" />
}
else if (_redirectToLogin)
{
    <LoadingSpinner Message="Redirecting to login..." />
}
else if (_redirectToWeekPlanner)
{
    <LoadingSpinner Message="Redirecting to week planner..." />
}
else if (AccountSetupState is not null)
{
    <CascadingValue Value="AccountSetupState">
        <CascadingValue Value="User">
            <title>LessonFlow - Account Setup</title>
            <div class="mx-auto max-w-5xl p-6 bg-gray-50">
                <div class="space-y-3">
                    <div class="rounded-lg border border-gray-200 p-6 shadow-sm">
                        @if (!string.IsNullOrEmpty(AccountSetupState.Error))
                        {
                            <div class="mt-4 rounded-md border border-red-200 bg-red-50 p-3 text-sm text-red-700" role="alert">
                                @AccountSetupState.Error
                            </div>
                        }

                        <ProgressSteps />
                    </div>

                    <div class="rounded-lg border border-gray-200 p-6 shadow-sm">
                        @switch (_accountSetupStep)
                        {
                            case AccountSetupStep.BasicInfo:
                                <BasicInfoForm />
                                break;
                            case AccountSetupStep.Subjects:
                                <SubjectsForm Subjects="_subjectNames" />
                                break;
                            case AccountSetupStep.Timing:
                                <TimingForm />
                                break;
                            case AccountSetupStep.Schedule:
                                <ScheduleForm CompleteAccountSetup="CompleteAccountSetup" />
                                break;
                        }
                    </div>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
}
else
{
    <LoadingSpinner Message="Setting up your account..." />
}
