.loading-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-container {
    min-height: 100vh;
    background-color: #f9fafb;
    overflow: auto;
}

.logout-button-container {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 10;
}

.logout-button {
    color: #4b5563;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-weight: 500;
    transition: color 0.2s, background-color 0.2s;
}

.logout-button:hover {
    color: #1f2937;
    background-color: #f9fafb;
    cursor: pointer;
}

.content-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    overflow: auto;
}

@media (min-width: 640px) {
    .content-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .content-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.header-container {
    margin-bottom: 2rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-title {
    font-size: 1.875rem;
    font-weight: 800;
    color: #111827;
    text-align: center;
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.125rem;
    color: #6b7280;
    text-align: center;
}

.error-message {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.875rem;
    color: #b91c1c;
    background-color: #fee2e2;
    border-radius: 0.5rem;
}

.progress-container {
    margin-top: 2rem;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 36rem;*/
}

.schedule-container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}