nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    div {
        button,
        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(173, 32, 32);
            }
        }

        &.logout {
            margin-left: auto;
        }
    }

    form {
        button {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(173, 32, 32);
            }
        }

        &.logout {
            margin-left: auto;
        }
    }
}

.nav-link {

    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(173, 32, 32);
    }
}
